* {
    margin: 0;
    padding: 0;
}

@import "variables";

@font-face {
    font-family: lora;
    src: url(../fonts/Lora-Regular.ttf);

    font-family: poppins;
    src: url(../fonts/Poppins-ExtraLight.ttf);
}

/* HEADER */

header {
    grid-area: header;
    background-color: $colorPrincipal;
    border-bottom: 5px solid #AA9D7A;
    #LogoHeader {
        width: 64px;
    }
    #linkLogoHeader {
        width: 64px;
    }
    nav ul {
        display: flex;
        li {
            font-family: lora;
            font-size: 13px;
            list-style: none;
            text-decoration: none;
            border-right: 1px solid #AA9D7A;
            #reservarSuite {
                color: #701726;
            }
            a {
            text-decoration: none;
            color: #707070;
            transition: 0.2s;
            &:hover {
                color: white !important;
            }
            }
        }
    }
}

#noBorder {
    border-right: none;
    }

@media (min-width:1200px){
    #LogoHeader {
        width: 80px;
    }
    #linkLogoHeader {
        width: 80px;
    }
}

@media (max-width:991px){
    nav ul li {
    border-right: none;
    }
}





/* SECTION INDEX */ 

.bodyIndex {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-areas: "header" "sectionIndex" "footerIndex";
}

#sectionIndex {
    grid-area: sectionIndex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 84vh;
    overflow: hidden;
}

.carousel-item {
    height: 84vh;
}

.divCentral {
    position: absolute;
}

#tituloIndex {
    font-family: lora;
    text-align: center;
    color: white;
    font-size: 3rem;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}

@media (max-width:1023px) {
    #carouselExampleSlidesOnly {
        display: none;
    }
    #sectionIndex {
        background-image: url(../img/background_img/index_tablet.jpg);
        background-repeat: no-repeat;
    }
}

@media (max-width:991px) {
    #logoCentral {
        width: 80px;
    }
    #tituloIndex {
        font-size: 2rem;
    }
}

@media (max-width:915px) {
    #sectionIndex {
        background-image: url(../img/background_img/index_medium.jpg);
        background-repeat: no-repeat;
    }
}

@media (max-width:500px) {
    #sectionIndex {
        background-image: url(../img/background_img/index_mobile.jpg);
        background-repeat: no-repeat;
    }
    #logoCentral {
        width: 60px;
    }
    #tituloIndex {
        font-size: 1.4rem;
    }
}

@media (max-width:376px) {
    #tituloIndex {
        font-size: 1.2rem;
    }
}

/* FOOTER INDEX */

.footerIndex {
    grid-area: footerIndex;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background-color: #AA9D7A;
    border-top: 7px solid #D5CCB4;
}

#instagram {
    width: 40px;
    margin: 10px;
    margin-left: 30px;
}

#whatsapp {
    width: 35px;
    margin: 10px;
}

.formularioReserva {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-family: lora;
    font-size: 16px;
    color: white;
    margin-right: 35px;
}

.footerIndex label {
    margin-left: 15px;
}

.footerIndex input {
    height:25px;
    width: 115px;
    font-size: 16px;
}

#botonIr {
    background-color: #D5CCB4;
    color: #701726;
    border: 2px;
    width: 20px;
    height: 23px;
}

@media (max-width:894px){
    #labelP {
        display: none;
    }
    .footerIndex label {
        margin-bottom: 20px;
    }
}

@media (max-width:657px) {
    .footerIndex input {
        width: 25px;
    }
}

@media (max-width:476px) {
    .footerIndex label {
        display: none;
    }
    .footerIndex input {
        margin-bottom: 20px;
    }
}





/* EL COMPLEJO PAGE */

.bodyComplejo {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: "header header" "containerComplejo aside" "servicios servicios" "containerServicios containerServicios" "footerComplejo footerComplejo";
}

.containerComplejo {
    grid-area: containerComplejo;
    display: flex;
    align-items: center;
    overflow: hidden; 
}

#complejoImg {
    width: 100%;
}

aside {
    grid-area: aside;
    background-color: #2A251F;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#subtituloComplejo {
    font-family: poppins;
    color: white;
    font-size: 16px;
    margin-left: 5%;
    margin-bottom: 15px;
}

aside h1 {
    color: white;
    font-size: 90px;
    line-height: 70px;
    letter-spacing: 3px;
    margin-left: 5%;
}

#espacios {
    color: #E8CB9D;
}

aside p {
    color: white;
    margin-left: 5%;
    margin-top: 40px;
    font-size: 16px;
}

.servicios {
    display: none;
}

.containerServicios {
    grid-area: containerServicios;
    display: flex;
    background-color: #EBEBEB;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.serviciosPadre {
    background-image: url("../img/background_img/combo_de_servicios_xl.png");
    width: 1189px;
    height: 1189px;
}

.listaContactos {
    display: none;
}

.empresa {
    background-color: #2A251F;
    display: flex;
    justify-content: center;
    color: white;
    font-family: poppins;
    width: 200%;
}

.empresa p {
    padding: 5px;
    font-size: 14px;
}

@media (min-width:1920px){
    .bodyComplejo {
        grid-template-rows: auto 860px auto auto auto;
    }
    aside p {
        font-size: 20px;
    }
    .servicios {
        grid-area: servicios;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    section div h3 {
        margin-top: 20px; 
    }
    .servicios div ul {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        width: 100%;
    }
    .servicios div ul li {
        list-style: none;
        padding-inline: 80px;
        margin-top: 10px;
    }
    #areasWifi {
        width: 100px;
    }
    .footerComplejo {
        grid-area: footerComplejo;
        background-color: black;
        opacity: 75%;
    }
    .listaContactos {
        color: white;
        display: flex;
        flex-direction: column;
        font-family: poppins;
    }
    #opcionesDeContacto {
        margin-left: 45px;
        margin-top: 10px;
        font-size: 15px;
    }
    .apps {
        display: flex;
        justify-content: space-between;
        margin-right: 20%;
        margin-left: 5%;
        margin-top: 15px;
    }
    .datosContacto {
        display: flex;
        justify-content: left;
        margin-left: 7%;
        margin-top: 5px;
        margin-bottom: 20px;
        list-style: none;
    }
    #mmfacebook {
        margin-left: 320px;
    }
    
    #mminstagram {
        margin-left: 330px;
    }
    
    #mmadress {
        margin-left: 320px;
    }
}

@media (min-width:1200px){
    .servicios {
        grid-area: servicios;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    section div h3 {
        margin-top: 20px; 
    }
    .servicios div ul {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
    }
    .servicios div ul li {
        list-style: none;
        padding-inline: 20px;
        margin-top: 10px;
    }
    #areasWifi {
        width: 100px;
    }
    .footerComplejo {
        grid-area: footerComplejo;
        background-color: black;
        opacity: 75%;
    }
    .listaContactos {
        color: white;
        display: flex;
        flex-direction: column;
        font-family: poppins;
    }
    #opcionesDeContacto {
        margin-left: 50px;
        margin-top: 10px;
        font-size: 15px;
    }
    .apps {
        display: flex;
        justify-content: left;
        margin-left: 70px;
        margin-top: 5px;
    }
    .apps li {
        margin-left: 170px;
    }
    #mmwp {
        margin-left: 0;
    }
    .datosContacto {
        display: flex;
        justify-content: left;
        margin-left: 80px;
        margin-bottom: 20px;
        list-style: none;
    }
    #mmfacebook {
        margin-left: 130px;
    }
    #mminstagram {
        margin-left: 130px;
    }
    #mmadress {
        margin-left: 130px;
    }
    .empresa {
        width: 100%;
    }
}

@media (min-width:910px) and (max-width:1199px) {
    .bodyComplejo {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto 700px auto auto auto;
        grid-template-areas: "header" "aside" "servicios" "containerServicios" "footerComplejo";
    }
    .containerComplejo {
        display: none;
    }
    #complejoImg {
        display: none;
    }
    aside {
        background-image: url(../img/background_img/complejo_high.jpg);
        background-repeat: no-repeat;
    }
    #espacios {
        color: #E8CB9D;
    }
    .containerServicios {
        grid-area: containerServicios;
        display: flex;
        background-color: #EBEBEB;
        flex-direction: column;
        align-items: center;
    }
    .serviciosPadre {
        background-image: url("../img/background_img/combo_de_servicios_l.jpg");
        width: 595px;
        height: 2378px;
    }
    .footerComplejo {
        grid-area: footerComplejo;
        background-color: black;
        opacity: 75%;
    }
    .listaContactos {
        color: white;
        display: flex;
        flex-direction: column;
        font-family: poppins;
    }
    #opcionesDeContacto {
        margin-left: 30px;
        margin-top: 10px;
        font-size: 15px;
    }
    .apps {
        display: flex;
        justify-content: left;
        margin-left: 40px;
        margin-top: 5px;
    }
    .apps li {
        margin-left: 100px;
    }
    #mmwp {
        margin-left: 0;
    }
    .datosContacto {
        display: flex;
        justify-content: left;
        margin-left: 50px;
        margin-bottom: 20px;
        list-style: none;
    }
    #mmfacebook {
        margin-left: 65px;
    }
    #mminstagram {
        margin-left: 65px;
    }
    #mmadress {
        margin-left: 65px;
    }
    .empresa {
        width: 100%;
    }
}

@media (min-width:612px) and (max-width:909px) {
    .bodyComplejo {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto 700px auto auto auto;
        grid-template-areas: "header" "aside" "servicios" "containerServicios" "footerComplejo";
    }
    .containerComplejo {
        display: none;
    }
    #complejoImg {
        display: none;
    }
    aside {
        background-image: url(../img/background_img/complejo_high.jpg);
        background-repeat: no-repeat;
    }
    #espacios {
        color: #E8CB9D;
    }
    .containerServicios {
        grid-area: containerServicios;
        display: flex;
        background-color: #EBEBEB;
        flex-direction: column;
        align-items: center;
    }
    .serviciosPadre {
        background-image: url("../img/background_img/combo_de_servicios_l.jpg");
        width: 595px;
        height: 2378px;
    }
    .footerComplejo {
        grid-area: footerComplejo;
        background-color: black;
        opacity: 75%;
    }
    .listaContactos {
        color: white;
        display: flex;
        flex-direction: column;
        font-family: poppins;
    }
    #opcionesDeContacto {
        margin-left: 30px;
        margin-top: 10px;
        font-size: 15px;
    }
    .apps {
        display: flex;
        justify-content: left;
        margin-left: 40px;
        margin-top: 5px;
    }
    .apps li {
        margin-left: 100px;
    }
    #mmwp {
        margin-left: 0;
    }
    #adress {
        display: none;
    }
    .datosContacto {
        display: flex;
        justify-content: left;
        margin-left: 50px;
        margin-bottom: 20px;
        list-style: none;
    }
    #mmfacebook {
        margin-left: 65px;
    }
    #mminstagram {
        margin-left: 65px;
    }
    #mmadress {
        display: none;
    }
    .empresa {
        width: 100%;
    }
}

@media (min-width:360px) and (max-width:611px) {
    .bodyComplejo {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto 500px auto auto auto;
        grid-template-areas: "header" "aside" "servicios" "containerServicios" "footerComplejo";
    }
    .containerComplejo {
        display: none;
    }
    #complejoImg {
        display: none;
    }
    aside {
        background-image: url(../img/background_img/complejo_high.jpg);
        background-repeat: no-repeat;
    }
    #subtituloComplejo {
        font-size: 14px;
    }
    aside h1 {
        font-size: 60px;
        line-height: 50px;
        letter-spacing: 2px;
    }
    aside p {
        margin-top: 30px;
        font-size: 11px;
    }
    .containerServicios {
        grid-area: containerServicios;
        display: flex;
        background-color: #EBEBEB;
        flex-direction: column;
        align-items: center;
    }
    .serviciosPadre {
        background-image: url("../img/background_img/combo_de_servicios_s.jpg");
        width: 355px;
        height: 1439px;
    }
    .footerComplejo {
        grid-area: footerComplejo;
        background-color: black;
        opacity: 75%;
    }
    .listaContactos {
        color: white;
        display: flex;
        flex-direction: column;
        font-family: poppins;
    }
    #opcionesDeContacto {
        margin-left: 15px;
        margin-top: 10px;
        font-size: 15px;
    }
    .apps {
        display: flex;
        justify-content: left;
        margin-left: 20px;
        margin-top: 5px;
    }
    .apps li {
        margin-left: 70px;
    }
    #mmwp {
        margin-left: 0;
    }
    #facebook {
        display: none;
    }
    #adress {
        display: none;
    }
    .datosContacto {
        display: flex;
        justify-content: left;
        margin-left: 25px;
        margin-bottom: 20px;
        list-style: none;
        margin-top: -10px;
    }
    #mmfacebook {
        display: none;
    }
    #mminstagram {
        margin-left: 30px;
    }
    #mmadress {
        display: none;
    }
    .empresa {
        width: 100%;
    }
}

@media (max-width:359px) {
    .bodyComplejo {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto 85vh auto;
        grid-template-areas: "header" "aside" "footerComplejo";
    }
    .containerComplejo {
        display: none;
    }
    #complejoImg {
        display: none;
    }
    aside {
        background-image: url(../img/background_img/complejo_high.jpg);
        background-repeat: no-repeat;
    }
    #subtituloComplejo {
        font-size: 14px;
    }
    aside h1 {
        font-size: 50px;
        line-height: 40px;
        letter-spacing: 1px;
    }
    aside p {
        margin-top: 30px;
        font-size: 9px;
    }
    .containerServicios {
        display: none;
    }
    .serviciosPadre {
        display: none;
    }
    .footerComplejo {
        grid-area: footerComplejo;
        background-color: black;
        opacity: 75%;
    }
    .empresa {
        width: 100%;
    }
}





/* RESERVAR SUITE PAGE */

.bodyReservas {
    display: grid;
    grid-template-rows: 75px auto;
    grid-template-areas: "header" "sectionReservas";
}

.sectionReservas {
    grid-area: sectionReservas;
    background-image: url(../img/imagen_de_fondo_suites.png);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 638px;
}

.suites {
    width: 300px;
    transition: 1s;
}

.suites:hover {
    width: 350px;
}

@media (min-width:1920px){
    .sectionReservas {
        height: 854px;
    }
    .suites {
        width: 400px;
        transition: 1s;
    }
    .suites:hover {
        width: 435px;
    }
}

/* RESENIAS DE MONTEMOLINO PAGE */



/* UBICACION PAGE */

.bodyUbicacion {
    display: grid;
    grid-template-rows: 75px auto auto;
    grid-template-areas: "header" "sectionUbicacion" "footerUbicacion";
}

.sectionUbicacion {
    grid-area: sectionUbicacion;
    width: 100%;
}

.map {
    width: 100%;
    height: 604px;
}

@media (min-width:1920px){
    .map {
        height: 819px;
    }
}

.footerUbicacion {
    grid-area: footerUbicacion;
}

/* CONTACTO PAGE */

.bodyContacto {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-areas: "header" "sectionContacto" "footerContacto";
}

.sectionContacto {
    grid-area: sectionContacto;
    background-image: url(../img/imagen_de_fondo_contacto.png);
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactoGeneral {
    background-color: black;
    opacity: 80%;
    color: white;
    margin: 10%;
    padding: 25px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "TituloContacto TituloMail" "OpcionesContacto OpcionesMail" "HTV HTV";
    column-gap: 50px;
    row-gap: 15px;
    align-items: flex-start;
    justify-content: left;
}

.TituloContacto {
    grid-area: TituloContacto;
    font-size: 14px;
}

.TituloMail {
    grid-area: TituloMail;
    font-size: 14px;
}

.OpcionesContacto {
    grid-area: OpcionesContacto;
    font-size: 14px;
    list-style: none;
    margin-left: 20px;
}

.OpcionesContacto li {
    padding: 5px;
}

.lista {
    list-style: circle;
}

.OpcionesContacto li a {
    text-decoration: none;
    color: #D5CCB4;
}

.liDatos {
    margin-left: 20px;
}

.OpcionesMail {
    grid-area: OpcionesMail;
    margin-left: 20px;
}

.OpcionesMail input {
    padding-inline: 20px;
    color: black;
    background-color: white;
    opacity: 75%;
}

#asunto {
    width: 89.5%;
    margin-top: 10px;
}

#consulta {
    width: 89.5%;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#send {
    background-color: #D5CCB4;
    color: #701726;
    font-family: lora;
    border: 2px;
    padding-left: 5px;
    padding-top: 1px;
    padding-right: 5px;
    padding-bottom: 1px;
}

.HTV {
    grid-area: HTV;
    text-align: center;
    font-size: 14px;
    margin-bottom: -20px;
    margin-top: 10px;
}

@media (min-width:1920px){
    .sectionContacto {
        height: 823px;
    }
    .TituloContacto {
        font-size: 16px;
    }
    .TituloMail {
        font-size: 16px;
    }
    .OpcionesContacto {
        font-size: 16px;
        margin-left: 40px;
    }
    .OpcionesContacto li {
            padding: 10px;
    }
    .liDatos {
        margin-bottom: 5px;
    }
    .OpcionesMail input {
        margin-top: 10px;
        padding: 10px;
    }
    #asunto {
        width: 94%;
    }
    #consulta {
        width: 94%;
    }
}

.footerContacto {
    grid-area: footerContacto;
}