* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: lora;
  src: url(../fonts/Lora-Regular.ttf);
  font-family: poppins;
  src: url(../fonts/Poppins-ExtraLight.ttf);
}
/* HEADER */
header {
  grid-area: header;
  background-color: #D5CCB4;
  border-bottom: 5px solid #AA9D7A;
}
header #LogoHeader {
  width: 64px;
}
header #linkLogoHeader {
  width: 64px;
}
header nav ul {
  display: flex;
}
header nav ul li {
  font-family: lora;
  font-size: 13px;
  list-style: none;
  text-decoration: none;
  border-right: 1px solid #AA9D7A;
}
header nav ul li #reservarSuite {
  color: #701726;
}
header nav ul li a {
  text-decoration: none;
  color: #707070;
  transition: 0.2s;
}
header nav ul li a:hover {
  color: white !important;
}
header nav ul #noBorder {
  border-right: none;
}
header nav .navbar-toggler,
header nav .navbar-toggler-icon {
  outline: none;
  border: none;
}

@media (min-width: 1200px) {
  #LogoHeader {
    width: 80px;
  }
  #linkLogoHeader {
    width: 80px;
  }
}
@media (max-width: 991px) {
  nav ul li {
    border-right: none !important;
  }
}
/* SECTION INDEX */
.bodyIndex {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-areas: "header" "sectionIndex";
  overflow: hidden;
}
.bodyIndex #sectionIndex {
  grid-area: sectionIndex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 93vh;
  overflow: hidden;
}
.bodyIndex .carousel-item {
  height: 93vh;
}
.bodyIndex .divCentral {
  position: absolute;
}
.bodyIndex .divCentral #tituloIndex {
  font-family: lora;
  text-align: center;
  color: white;
  font-size: 3rem;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}
.bodyIndex .divCentral #instagram {
  width: 40px;
  margin-top: 100px;
  transition: 0.5s;
}
.bodyIndex .divCentral #instagram:hover {
  width: 45px;
}
.bodyIndex .divCentral #whatsapp {
  width: 35px;
  margin-top: 100px;
  margin-left: 10px;
  transition: 0.5s;
}
.bodyIndex .divCentral #whatsapp:hover {
  width: 45px;
}

@media (min-width: 1920px) {
  #sectionIndex {
    height: 95vh;
  }
  #sectionIndex .carousel-item {
    height: 95vh;
  }
}
@media (min-width: 1400px) {
  #sectionIndex {
    height: 93vh;
  }
  #sectionIndex .carousel-item {
    height: 93vh;
  }
}
@media (min-width: 1366px) {
  #sectionIndex {
    height: 100vh;
  }
  #sectionIndex .carousel-item {
    height: 100vh;
  }
}
@media (max-width: 1023px) {
  #sectionIndex {
    background-image: url(../img/index/backgrounds/index_tablet.jpg);
    background-repeat: no-repeat;
  }
  #sectionIndex #carouselExampleSlidesOnly {
    display: none;
  }
}
@media (max-width: 991px) {
  #logoCentral {
    width: 80px;
  }
  #tituloIndex {
    font-size: 2rem;
  }
}
@media (max-width: 915px) {
  #sectionIndex {
    background-image: url(../img/index/backgrounds/index_medium.jpg);
    background-repeat: no-repeat;
  }
}
@media (max-width: 500px) {
  #sectionIndex {
    background-image: url(../img/index/backgrounds/index_mobile.jpg);
    background-repeat: no-repeat;
  }
  #sectionIndex #logoCentral {
    width: 60px;
  }
  #sectionIndex #tituloIndex {
    font-size: 1.4rem;
  }
}
@media (max-width: 376px) {
  #tituloIndex {
    font-size: 1.2rem;
  }
}
/* EL COMPLEJO */
.bodyComplejo {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: "header header" "containerComplejo aside" "servicios servicios" "containerServicios containerServicios" "footerComplejo footerComplejo";
}
.bodyComplejo .containerComplejo {
  grid-area: containerComplejo;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.bodyComplejo .containerComplejo #complejoImg {
  width: 100%;
}
.bodyComplejo aside {
  grid-area: aside;
  background-color: #2A251F;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.bodyComplejo aside #subtituloComplejo {
  font-family: poppins;
  color: white;
  font-size: 16px;
  margin-left: 5%;
  margin-bottom: 15px;
}
.bodyComplejo aside h1 {
  color: white;
  font-size: 90px;
  line-height: 70px;
  letter-spacing: 3px;
  margin-left: 5%;
}
.bodyComplejo aside h1 #espacios {
  color: #E8CB9D;
}
.bodyComplejo aside p {
  color: white;
  margin-left: 5%;
  margin-top: 40px;
  font-size: 16px;
}
.bodyComplejo .servicios {
  display: none;
  grid-area: servicios;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bodyComplejo .servicios ul {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
.bodyComplejo .servicios ul li {
  list-style: none;
  padding-inline: 20px;
  margin-top: 10px;
}
.bodyComplejo .servicios ul li #areasWifi {
  width: 100px;
}
.bodyComplejo .containerServicios {
  grid-area: containerServicios;
  display: flex;
  background-color: #EBEBEB;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}
.bodyComplejo .containerServicios .serviciosPadre {
  background-image: url("../img/el_complejo/combo_de_servicios_xl.png");
  width: 1189px;
  height: 1189px;
}
.bodyComplejo footer {
  overflow: hidden;
  grid-area: footerComplejo;
}
.bodyComplejo footer .footerComplejo {
  position: absolute;
  width: 100%;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #a19a57, #585041);
  overflow: hidden;
  border-top: 1px solid rgb(94, 89, 77);
}
.bodyComplejo footer .footerComplejo::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  background: #ff0;
  z-index: 10;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.bodyComplejo footer .footerComplejo .color {
  position: absolute;
  filter: blur(150px);
}
.bodyComplejo footer .footerComplejo .color:nth-child(1) {
  top: -350px;
  background: #6e6a4f;
  width: 600px;
  height: 600px;
}
.bodyComplejo footer .footerComplejo .color:nth-child(2) {
  bottom: -150px;
  left: 100px;
  background: #615e49;
  width: 500px;
  height: 500px;
}
.bodyComplejo footer .footerComplejo .color:nth-child(3) {
  bottom: -50px;
  right: 0;
  background: #536758;
  width: 300px;
  height: 300px;
}
.bodyComplejo footer ul {
  position: relative;
  display: flex;
}
.bodyComplejo footer ul li {
  position: relative;
  list-style: none;
  margin: 10px;
}
.bodyComplejo footer ul li a {
  position: relative;
  top: 0;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 2em;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  z-index: 1;
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  overflow: hidden;
  transition: top 0.5s, z-index 0s, transform 0.5s;
  transition-delay: 0.5s, 0.5s, 0s;
}
.bodyComplejo footer ul li a:hover {
  transition-delay: 0s, 0.5s, 0.5s;
  top: -50px;
  transform: translateY(50px);
  z-index: 11;
}
.bodyComplejo footer ul li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  transform: skewX(45deg) translateX(150px);
  transition: 0.5s;
}
.bodyComplejo footer ul li a:hover::before {
  transform: skewX(45deg) translateX(-150px);
}

@media (min-width: 1920px) {
  .bodyComplejo {
    grid-template-rows: auto 860px auto auto auto;
  }
  .bodyComplejo aside p {
    font-size: 20px;
  }
  .bodyComplejo .servicios div ul {
    width: 100%;
  }
  .bodyComplejo .servicios div ul li {
    padding-inline: 80px;
  }
}
@media (max-width: 1367px) {
  footer .footerComplejo::before {
    display: none;
  }
  footer ul li a {
    width: 60px;
    height: 60px;
  }
}
@media (min-width: 1200px) {
  .servicios {
    display: flex;
  }
  section div h3 {
    margin-top: 20px;
  }
}
@media (min-width: 910px) and (max-width: 1199px) {
  .bodyComplejo {
    grid-template-columns: 100%;
    grid-template-rows: auto 700px auto auto auto;
    grid-template-areas: "header" "aside" "servicios" "containerServicios" "footerComplejo";
  }
  .bodyComplejo .containerComplejo {
    display: none;
  }
  .bodyComplejo .containerComplejo #complejoImg {
    display: none;
  }
  .bodyComplejo aside {
    background-image: url(../img/el_complejo/complejo_high.jpg);
    background-repeat: no-repeat;
  }
  .bodyComplejo .serviciosPadre {
    background-image: url("../img/el_complejo/combo_de_servicios_l.jpg");
    width: 595px;
    height: 2378px;
  }
}
@media (min-width: 612px) and (max-width: 909px) {
  .bodyComplejo {
    grid-template-columns: 100%;
    grid-template-rows: auto 700px auto auto auto;
    grid-template-areas: "header" "aside" "servicios" "containerServicios" "footerComplejo";
  }
  .bodyComplejo .containerComplejo {
    display: none;
  }
  .bodyComplejo .containerComplejo #complejoImg {
    display: none;
  }
  .bodyComplejo aside {
    background-image: url(../img/el_complejo/complejo_high.jpg);
    background-repeat: no-repeat;
  }
  .bodyComplejo .serviciosPadre {
    background-image: url("../img/el_complejo/combo_de_servicios_l.jpg");
    width: 595px;
    height: 2378px;
  }
}
@media (max-width: 611px) {
  .bodyComplejo {
    grid-template-columns: 100%;
    grid-template-rows: auto 500px auto auto auto;
    grid-template-areas: "header" "aside" "servicios" "containerServicios" "footerComplejo";
  }
  .bodyComplejo .containerComplejo {
    display: none;
  }
  .bodyComplejo .containerComplejo #complejoImg {
    display: none;
  }
  .bodyComplejo aside {
    background-image: url(../img/el_complejo/complejo_high.jpg);
    background-repeat: no-repeat;
  }
  .bodyComplejo aside #subtituloComplejo {
    font-size: 14px;
  }
  .bodyComplejo aside h1 {
    font-size: 60px;
    line-height: 50px;
    letter-spacing: 2px;
  }
  .bodyComplejo aside p {
    margin-top: 30px;
    font-size: 11px;
  }
  .bodyComplejo .serviciosPadre {
    background-image: url("../img/el_complejo/combo_de_servicios_s.jpg");
    width: 355px;
    height: 1439px;
  }
  .bodyComplejo footer ul {
    margin-right: 30px;
  }
}
@media (max-width: 359px) {
  .bodyComplejo {
    grid-template-columns: 100%;
    grid-template-rows: auto 65vh auto;
    grid-template-areas: "header" "aside" "footerComplejo";
    overflow: hidden;
  }
  .bodyComplejo .containerComplejo {
    display: none;
  }
  .bodyComplejo .containerComplejo #complejoImg {
    display: none;
  }
  .bodyComplejo aside {
    background-image: url(../img/el_complejo/complejo_high.jpg);
    background-repeat: no-repeat;
  }
  .bodyComplejo aside #subtituloComplejo {
    font-size: 14px;
  }
  .bodyComplejo aside h1 {
    font-size: 50px;
    line-height: 40px;
    letter-spacing: 1px;
  }
  .bodyComplejo aside p {
    margin-top: 30px;
    font-size: 9px;
  }
  .bodyComplejo .serviciosPadre {
    display: none;
  }
  .bodyComplejo footer ul {
    margin-right: 30px;
  }
  .bodyComplejo footer ul a {
    width: 50px;
    height: 50px;
  }
}
/* NUESTRAS SUITES */
.bodyReservas {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-areas: "header" "sectionReservas";
  overflow: hidden;
}

.sectionReservas {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr 1fr;
  width: 100%;
  background-color: #000;
  height: 95vh;
}
.sectionReservas .contenedorImg {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}
.sectionReservas .contenedorImg img {
  opacity: 0.7;
}
.sectionReservas .contenedorImg .contenedorTxt {
  text-align: center;
  position: absolute;
  font-family: lora;
  width: 100%;
  padding-top: 100%;
  padding-bottom: 100%;
}
.sectionReservas .contenedorImg .contenedorTxt h2 {
  color: #fff;
  padding-top: 100%;
  padding-bottom: 100%;
  font-size: 2.5rem;
}
.sectionReservas .contenedorImg .contenedorTxt a {
  text-decoration: none;
}

@media (min-width: 1370px) {
  .sectionReservas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    background-color: #000;
    height: 94vh;
  }
  .contenedorImg {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    opacity: 0.7;
    transition: 0.3s;
  }
  .contenedorImg:hover {
    opacity: 1;
  }
  .contenedorImg .contenedorTxt {
    text-align: center;
    position: absolute;
    font-family: lora;
    width: 100%;
    padding-top: 100%;
    padding-bottom: 100%;
    opacity: 0;
    transition: 0.3s;
  }
  .contenedorImg .contenedorTxt:hover {
    opacity: 1;
  }
  .contenedorImg .contenedorTxt h2 {
    color: #fff;
    transition: 1s;
    padding-top: 100%;
    padding-bottom: 100%;
  }
  .contenedorImg .contenedorTxt h2:hover {
    font-size: 3rem;
  }
  .contenedorImg .contenedorTxt a {
    text-decoration: none;
  }
}
@media (max-width: 540px) {
  .sectionReservas h2 {
    font-size: 1.5rem;
  }
}
/* UBICACION */
.bodyUbicacion {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-areas: "header" "sectionUbicacion";
  overflow: hidden;
}
.bodyUbicacion .sectionUbicacion {
  grid-area: sectionUbicacion;
  width: 100%;
}
.bodyUbicacion .sectionUbicacion .map {
  width: 100%;
  height: 93vh;
}

/* CONTACTO */
.bodyContacto {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-areas: "header" "sectionContacto" "footerContacto";
}
.bodyContacto .sectionContacto {
  grid-area: sectionContacto;
  font-family: Poppins;
  padding: 2rem 2rem;
  background-color: black;
  color: white;
}
.bodyContacto .sectionContacto .contactoGeneral {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}
.bodyContacto .sectionContacto .contactoGeneral .contactoGeneral > * {
  padding: 1em;
}
.bodyContacto .sectionContacto .contactoGeneral .contact_form {
  background-color: #222222;
}
.bodyContacto .sectionContacto .contactoGeneral .contact_form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.bodyContacto .sectionContacto .contactoGeneral .contact_form form .block {
  grid-column: 1/3;
}
.bodyContacto .sectionContacto .contactoGeneral .contact_form form p {
  margin: 0;
  padding: 1em;
}
.bodyContacto .sectionContacto .contactoGeneral .contact_form form button {
  width: 100%;
  border: none;
  background: none;
  outline: none;
  border-bottom: 1px solid #D5CCB4;
  background-color: #D5CCB4;
  color: #000;
  border: none;
  text-transform: uppercase;
  padding: 1em;
}
.bodyContacto .sectionContacto .contactoGeneral .contact_form form button:hover {
  background-color: #701726;
  color: #D5CCB4;
}
.bodyContacto .sectionContacto .contactoGeneral .contact_form form button:focus {
  background-color: #701726;
  color: #D5CCB4;
}
.bodyContacto .sectionContacto .contactoGeneral .contact_form form input {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: none;
  color: #fff;
  border-bottom: 1px solid #D5CCB4;
}
.bodyContacto .sectionContacto .contactoGeneral .contact_form form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: none;
  color: #fff;
  border-bottom: 1px solid #D5CCB4;
}
.bodyContacto .sectionContacto .contactoGeneral .contact_info {
  background-color: #000;
}
.bodyContacto .sectionContacto .contactoGeneral .contact_info h4 {
  text-align: center;
  margin: 0 0 1rem 0;
  list-style: none;
}
.bodyContacto .sectionContacto .contactoGeneral .contact_info ul {
  text-align: center;
  margin: 0 0 1rem 0;
  list-style: none;
}
.bodyContacto .sectionContacto .contactoGeneral .contact_info ul li {
  padding: 0.3em;
  margin-left: -25px;
}
.bodyContacto .sectionContacto .contactoGeneral .contact_info ul li a {
  text-decoration: none;
  color: white;
}
.bodyContacto .sectionContacto .contactoGeneral .contact_info ul li a:hover {
  color: green;
}
.bodyContacto .sectionContacto .contactoGeneral .contact_info p {
  text-align: center;
  margin: 0 0 1rem 0;
  list-style: none;
}
.bodyContacto .footerContacto {
  grid-area: footerContacto;
  width: 100%;
  text-align: center;
  background-color: #AA9D7A;
  color: #2A251F;
}

@media (min-width: 1200px) {
  .sectionContacto {
    padding: 4rem 4rem;
    height: 100vh;
    background-image: url(../img/contacto/contacto.png);
  }
  .sectionContacto .contactoGeneral {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .sectionContacto .contactoGeneral .contactoGeneral > * {
    padding: 2em;
  }
  .sectionContacto .contactoGeneral .contact_info h4 {
    padding: 0.5em;
    text-align: left;
  }
  .sectionContacto .contactoGeneral .contact_info ul {
    padding: 0.5em;
    text-align: left;
  }
  .sectionContacto .contactoGeneral .contact_info ul li {
    margin-left: 0;
  }
  .sectionContacto .contactoGeneral .contact_info p {
    padding: 0.5em;
    text-align: left;
  }
}/*# sourceMappingURL=style.css.map */